.contra {
    --background: hsl(0 0% 100%);
    --foreground: hsl(225 18% 10%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(225 18% 10%);
    --popover: hsl(0 0% 98%);
    --popover-foreground: hsl(225 18% 10%);
    --primary: hsl(247 71% 62%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(220 20% 94%);
    --secondary-foreground: hsl(225 18% 10%);
    --muted: hsl(220 20% 94%);
    --muted-foreground: hsl(220 12% 40%);
    --accent: hsl(220 15% 90%);
    --accent-foreground: hsl(225 18% 10%);
    --destructive: hsl(359 100% 67%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(220 20% 90%);
    --input: hsl(220 20% 94%);
    --ring: hsl(247 71% 62%);
    --chart-1: hsl(247 71% 62%);
    --chart-2: hsl(220 15% 34%);
    --chart-3: hsl(220 15% 46%);
    --chart-4: hsl(220 12% 65%);
    --chart-5: hsl(220 20% 84%);
    --sidebar-background: hsl(0 0% 100%);
    --sidebar-foreground: hsl(225 18% 10%);
    --sidebar-primary: hsl(247 71% 62%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(220 20% 94%);
    --sidebar-accent-foreground: hsl(225 18% 10%);
    --sidebar-border: hsl(220 20% 90%);
    --sidebar-ring: hsl(247 71% 62%);

    --radius: 0.5rem;
}
