.contra {
  --background: 0 0% 100%;
  --foreground: 225 18% 10%;
  --card: 0 0% 100%;
  --card-foreground: 225 18% 10%;
  --popover: 0 0% 98%;
  --popover-foreground: 225 18% 10%;
  --primary: 247 71% 62%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 20% 94%;
  --secondary-foreground: 225 18% 10%;
  --muted: 220 20% 94%;
  --muted-foreground: 220 12% 40%;
  --accent: 220 15% 90%;
  --accent-foreground: 225 18% 10%;
  --destructive: 359 100% 67%;
  --destructive-foreground: 0 0% 100%;
  --border: 220 20% 90%;
  --input: 220 20% 94%;
  --ring: 247 71% 62%;
  --chart-1: 247 71% 62%;
  --chart-2: 220 15% 34%;
  --chart-3: 220 15% 46%;
  --chart-4: 220 12% 65%;
  --chart-5: 220 20% 84%;
  --sidebar-background: 0 0% 100%;
  --sidebar-foreground: 225 18% 10%;
  --sidebar-primary: 247 71% 62%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 220 20% 94%;
  --sidebar-accent-foreground: 225 18% 10%;
  --sidebar-border: 220 20% 90%;
  --sidebar-ring: 247 71% 62%;

  --radius: 0.5rem;
}
