.rose-dark {
  --background: hsl(351 10% 7%);
  --foreground: hsl(351 10% 98%);
  --card: hsl(351 10% 9%);
  --card-foreground: hsl(351 10% 98%);
  --popover: hsl(351 10% 9%);
  --popover-foreground: hsl(351 10% 98%);
  --primary: hsl(351 96% 55%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(351 10% 14%);
  --secondary-foreground: hsl(351 10% 98%);
  --muted: hsl(351 10% 14%);
  --muted-foreground: hsl(351 10% 49%);
  --accent: hsl(351 69% 53%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(351 10% 13%);
  --destructive-foreground: hsl(351 10% 98%);
  --border: hsl(351 10% 14%);
  --input: hsl(351 10% 14%);
  --ring: hsl(351 69% 53%);
  --chart-1: hsl(351 69% 53%);
  --chart-2: hsl(351 96% 55%);
  --chart-3: hsl(351 69% 53%);
  --chart-4: hsl(351 96% 55%);
  --chart-5: hsl(351 69% 53%);
  --sidebar-background: hsl(351 10% 9%);
  --sidebar-foreground: hsl(351 10% 71%);
  --sidebar-primary: hsl(351 69% 53%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(351 10% 14%);
  --sidebar-accent-foreground: hsl(351 10% 98%);
  --sidebar-border: hsl(351 10% 14%);
  --sidebar-ring: hsl(351 69% 53%);
  --radius: 0.25rem;
}