.rose-light {
  --background: 351 2% 95%;
  --foreground: 0 0% 13%;
  --card: 0 33% 96%;
  --card-foreground: 351 2% 10%;
  --popover: 351 2% 95%;
  --popover-foreground: 351 95% 0%;
  --primary: 351 75% 57%;
  --primary-foreground: 0 0% 100%;
  --secondary: 351 36% 88%;
  --secondary-foreground: 0 0% 0%;
  --muted: 313 10% 85%;
  --muted-foreground: 351 2% 35%;
  --accent: 313 10% 80%;
  --accent-foreground: 351 2% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 351 2% 90%;
  --border: 350 65% 77%;
  --input: 351 20% 18%;
  --ring: 351 75% 57%;
  --chart-1: 351 75% 57%;
  --chart-2: 371 70% 55%;
  --chart-3: 331 65% 60%;
  --chart-4: 361 60% 65%;
  --chart-5: 341 55% 60%;
  --sidebar-background: 0 0% 93%;
  --sidebar-foreground: 351 2% 25%;
  --sidebar-primary: 351 75% 57%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 352 50% 91%;
  --sidebar-accent-foreground: 351 2% 5%;
  --sidebar-border: 350 65% 77%;
  --sidebar-ring: 351 75% 57%;
  
  /* Sizings */
  --radius: 1rem;
}