auto-install-peers=true
strict-peer-dependencies=false
lockfile=true
resolution-mode=highest
prefer-workspace-packages=true
save-workspace-protocol=rolling
shared-workspace-lockfile=true
dedupe-peer-dependents=true
use-lockfile-v6=true 